./vs
.vs/
Forum/obj/Debug/netcoreapp2.1/Forum.AssemblyInfo.cs

Forum/obj/Debug/netcoreapp2.1/Forum.AssemblyInfoInputs.cache

Forum/obj/Debug/netcoreapp2.1/Forum.assets.cache

Forum/obj/Debug/netcoreapp2.1/Forum.csprojAssemblyReference.cache

Forum/obj/Debug/netcoreapp2.1/Forum.RazorAssemblyInfo.cache

Forum/obj/Debug/netcoreapp2.1/Forum.RazorAssemblyInfo.cs

Forum/obj/Forum.csproj.nuget.cache

Forum/obj/Forum.csproj.nuget.dgspec.json

Forum/obj/Forum.csproj.nuget.g.props

Forum/bin/

Forum/obj/Debug/
