@model IEnumerable<Forum.Models.TblPosts>

@{
    ViewData["Title"] = "Search";
}


<h2>Search</h2>

@{
    if (Model.Count() > 0)
    {
        <text>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p>Post name</p>
                        </th>
                        <th>
                            <p>Content</p>
                        </th>
                        <th>
                            <p>Posted on</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Post" asp-action="Read" asp-route-id=@item.PoId>
                                @Html.DisplayFor(modelItem => item.PoName)
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Post" asp-action="Read" asp-route-id=@item.PoId>
                                    @Html.DisplayFor(modelItem => item.PoContent)
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Post" asp-action="Read" asp-route-id=@item.PoId>
                                    @Html.DisplayFor(modelItem => item.PoDate)
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </text>
    }
        else
        {
            WriteLiteral("The post you were looking for was not found");
        }
}

