@model IEnumerable<Forum.Models.TblPosts>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the MonsterPlan forum</h1>

<tbody>
</tbody>
<div id="LatestPosts">
    <h3>Latest Posts</h3>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a asp-controller="Post" asp-action="Read" asp-route-id=@item.PoId>
                    @{if (item.PoContent.Length > 60)
                        {

                            item.PoContent = item.PoContent.Substring(0, Math.Min(item.PoContent.Length, 60)) + "...";
                        }
                        @Html.DisplayFor(modelItem => item.PoContent);
                    }
                </a>
            </li>
        }
    </ul>
</div>
@Html.RenderAction("Read", "Category", "")

